@model MedicalRecordModel

@{
    ViewData["Title"] = "Create New MedicalRecord";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add MedicineRecord</h4>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form method="post">
                    <a href="d:\hequantri\test1\doanhqtcsdl\webapplication\views\medicalrecord\addmedicalrecord.cshtml">d:\hequantri\test1\doanhqtcsdl\webapplication\views\medicalrecord\addmedicalrecord.cshtml</a>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="ExaminationDate"></label>
                        <input class="form-control" type ="date" asp-for="ExaminationDate">
                        <span class="form-control-feedback text-danger" asp-validation-for="ExaminationDate"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="Service"></label>
                        <select asp-for="Service" asp-items="@ViewBag.SelectService">
                            
                        </select>
                        <span class="form-control-feedback text-danger" asp-validation-for="Service"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="PhoneNumber"></label>
                        <select asp-for="PhoneNumber" asp-items="@ViewBag.SelectPhoneNumber"></select>
                        <span class="form-control-feedback text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>
                    <div class="form-group mb-3" style ="display : none">
                        <label class="form-control-label" asp-for="CreatedByDentistId"></label>
                        <input class="form-control" asp-for="CreatedByDentistId" value ="@ViewBag.id">
                        <span class="form-control-feedback text-danger" asp-validation-for="CreatedByDentistId"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success btn-block btn-rounded">
                                Save
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-controller="MedicalRecord" asp-action="Index" type="button" class="btn btn-danger btn-block btn-rounded">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>