<div>
    <h1>Lựa chọn thao tác cập nhật hồ sơ bệnh án</h1>
    <a class="btn btn-warning text-light" 
    href ="/MedicalRecord/Edit?id=@ViewBag.id&sn=@ViewBag.sequence"><i class="icon-copy fa fa-edit" aria-hidden="true">Chỉnh sửa tất cả thông tin</i>	</a>
    <a class="btn btn-warning text-light"
       href="/MedicalRecord/EditServicePrice?id=@ViewBag.id&sn=@ViewBag.sequence"><i class="icon-copy fa fa-edit" aria-hidden="true"></i>Chỉnh sửa giá dịch vụ</a>
</div>