@model MedicineInventoryModel

@{
    ViewData["Title"] = "Create New Medicine Invectory";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit MedicineInventory</h4>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form method="post">
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="Id"></label>
                        <input class="form-control" asp-for="Id" value = "@ViewBag.id">
                        <span class="form-control-feedback text-danger" asp-validation-for="Id"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="MedicineId"></label>
                        <select asp-for="MedicineId" asp-items="@ViewBag.ListMidicine">
                            <option>Please select one</option>
                        </select>
                        <span class="form-control-feedback text-danger" asp-validation-for="MedicineId"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="ExpiryDate"></label>
                        <input class="form-control" type="date" asp-for="ExpiryDate">
                        <span class="form-control-feedback text-danger" asp-validation-for="ExpiryDate"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="InventoryQuantity"></label>
                        <input class="form-control" asp-for="InventoryQuantity">
                        <span class="form-control-feedback text-danger" asp-validation-for="InventoryQuantity"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success btn-block btn-rounded">
                                Save
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-controller="MedicineInventory" asp-action="Index" type="button" class="btn btn-danger btn-block btn-rounded">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>