@model LoginModel

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sign In</h4>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form method="post">
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="UserName"></label>
                        <input class="form-control" asp-for="UserName">
                        <span class="form-control-feedback text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" asp-for="Password"></label>
                        <input class="form-control" asp-for="Password">
                        <span class="form-control-feedback text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="custom-control custom-checkbox mb-3">
                            <label asp-for="RememberMe" class="custom-control-label"></label>
                            <input asp-for="RememberMe" class="custom-control-input">
                        </div>
                        <div>
                            <a href="" class="text-primary">Forgot your password?</a>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success btn-block btn-rounded">
                                Sign in
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div>Don't have an account? <a asp-action="Register" class="text-success">Sign up now</a></div>
                    </div>
                    <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
                </form>
            </div>
        </div>
    </div>
</div>